snippet link
	[${1:text}](${2:link}) ${3}
snippet em
	*${1}* ${2}
snippet strong
	**${1}** ${2}
snippet img
	![${1:text}](${2:path}) ${3}
snippet place
	[${1:place}](http://maps.google.com/maps?q=${2:$1}) ${3}
snippet wiki
	[${1:wiki}](http://en.wikipedia.org/w/index.php?title=Special:Search&search=${2:$1}) ${3}
